{* This is the welcome page, you can delete it *}

{block content}

<div class="jumbotron">
    <h1 n:block=title>Congratulations!</h1>
    <h2>You have successfully created your <a href="https://nette.org">Nette</a> Web project.</h2>
    <p>
        If you are exploring Nette for the first time, you should read the
        <a href="https://doc.nette.org/quickstart">Quick Start</a>, <a href="https://doc.nette.org">documentation</a>,
        <a href="https://pla.nette.org">tutorials</a> and <a href="https://forum.nette.org">forum</a>.
    </p>
</div>

<h2>We hope you enjoy Nette!</h2>
