parameters:


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


autoRegister:
    dirs: [
        App\Forms: %appDir%/Forms,
        App\Model\Services: %appDir%/Model/Services
    ]


console:
    url: http://nette.dev
    commands:
        - App\Console\DeleteCacheCommand


doctrine:
    metadata:
        App: %appDir%


session:
    expiration: 14 days


services:
    router: App\RouterFactory::createRouter


extensions:
    autoRegister: Ublaboo\DirectoryRegister\DI\AutoRegisterExtension
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    nextras.form: Nextras\Forms\Bridges\NetteDI\FormsExtension
    menu: DK\Menu\DI\Extension

includes:
    - menu.neon
